body{
    margin: 0;
    padding: 0;
    padding: 20px 60px;
    height: 100vh;
    font-family: "Noto Sans", sans-serif;
    background-color: #ccee66;
    color: #fff;
    overflow: hidden;
}

body::before{
    content: '';
    background-color: #151515;
    position: absolute;
    top: -100px;
    left: -774px;
    transform: rotate(-70deg);
    width: 100%;
    height: 160%;
}

body::after{
    content: 'Nike';
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    font-size: 200px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    opacity: 0.5;
}

.logo{
    width: 80px;
    position: relative;
    z-index: 1;
}

.caixa-principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    position: relative;
    z-index: 1;
}

.caixa-texto{
    max-width: 500px;
}

h4{
    font-size: 30px;
}

h1{
    font-size: 80px;
}

p{
    font-size: 16px;
    margin-bottom: 40px;
}

.botao-carrinho{
    background-color: #a3be52;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
    transition: 0.5s;
}

.botao-carrinho:hover{
    opacity: 0.5;
}

.imagem-tenis{
    padding-top: 60px;
    width: 700px;
    transform: rotate(-30deg);
}

.caixa-botoes{
    z-index: 2;
    position: relative;
    display: flex;
    gap: 20px;
}

.botoes{
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.botoes:active {
    opacity: 0.6;
}

.verde{
    background-color: #ccee66;
}

.azul{
    background-color: #58cced;
}

.rosa{
    background-color: #ff9eb5;
}